.navbar {
	background-color: #fd5457;
}
.navbar .navbar-header a{
	color: white;
}
.navbar .nav li a{
	color: white;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #fd4040;
    color: black;
}

