<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="" class="navbar-brand">APPrecetas</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!/admin">Home</a></li>
            <li class="active"><a href="#!/clase">Clase Productos</a></li>
            <li><a href="#!/producto">Producto</a></li>
            <li><a href="">Recetas</a></li>
            <li><a href="">Almacen</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h1>{{pagina}}</h1>
    <div class="col-md-4">
        <form action="" ng-submit="guardarClase()">
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" ng-model="clase.nombre">
            </div>
            <div class="form-group">
                <label for="">Descripcion:</label>
                <textarea class="form-control" rows="3" ng-model="clase.descripcion">
                </textarea>
            </div>
            <div class="form-group">
                <label for="">Imagen:</label>
                <input type="file" class="form-control" id="file" onchange="document.getElementById('imgpreview').src = window.URL.createObjectURL(this.files[0])" />
            </div>
            <div class="form-group">
                <img id="imgpreview" class="img-responsive center-block" src="https://biotrendies.com/wp-content/uploads/2016/08/verduras-con-mas-vitamina-c.jpg" alt="" style="height: 150px;">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="row" style="background-color: #fd5457;">
            <div class="card" ng-repeat="claseAux in clases" style="background-color: white; margin:5px; padding: 5px;">
                <div class="row">
                    <div class="col-md-3">
                        <img ng-src="uploads/{{claseAux.imagen}}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h4 class="card-title">
                        {{claseAux.nombre}}
                    </h4>
                            <p class="card-text">
                                {{claseAux.descripcion}}
                            </p>
                            <button ng-click="eliminarClase(claseAux._id)" class="btn btn-danger">
                                eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>