<div class="navbar navbar-inverse">
	<div class="container">	
		<div class="navbar-header" >
			<a href="" class="navbar-brand" >APPrecetas</a>
		</div>
		<ul class="nav navbar-nav navbar-right" >
				<li class="active"><a href="#!/admin" >Home</a></li>
				<li><a href="#!/clase">Clase Productos</a></li>
				<li><a href="#!/producto">Producto</a></li>
				<li><a href="">Recetas</a></li>
				<li><a href="">Almacen</a></li>
			</ul>
	</div>
</div>
div.container


{{pagina}}		


