{{pagina}}

<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4" style="margin-top: 80px;"">
		<div style="background-color: #FD5457;">
				<img src="http://www.gptrc.org/admin/images/login_lock.png" style ="height: 200px;" class="img-responsive center-block	" alt="">
		</div>
		<form action="" ng-submit="loguearse()">
			<div class="form-group">
				<label for="">Nombre:</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="">Contrasena:</label>
				<input type="password" class="form-control">
			</div>
			<div class="form-group">
				<button class="form-control btn btn-deault" style="background-color: #fd5457; color:white">
					iniciar
				</button>
			</div>
		</form>
	</div>
	<div class="col-md-4"></div>
	

</div>